<div class="row  justify-content-center  text-center columtrans">
		<div id="fitnesscollapses" class="collapse card" style="width:400px">
						<img class="card-img-top cardpicture picrounded" src="../../../assets/fitness.jpg" alt="Card image">
				
					<a data-toggle="collapse" class="display-4" href="#collapsik"><div class="text-white card-img-overlay display-4">FITNESS</div></a>
				<div id="collapsik" class="panel-collapse collapse"><div class="card-body">
						<div class="panel-group">
								<div class="panel panel-default">
										<div class="panel-heading">
												<h4 class="panel-title"></h4>
										</div>
										
												<ul class="btn-outline-danger list-group">
														<li class="list-group-item">
															<div class="row">
																<div class="text-center nopad col-6 btn-outline-secondary"><b>EXERCISE</b></div>
																<div class="text-center nopad col-6 btn-outline-info"><small>STRETCH/YOGA</small></div> 
															</div> 
														</li>
														<li class="list-group-item">
															<div class="row">
																<div class="text-center nopad col-3 btn-outline-secondary"><b>SCHOOLS</b></div>
																<div class="text-center nopad col-3 btn-outline-info"><small>HPDA</small></div> 
																<div class="text-center nopad col-3 btn-outline-info"><small>SOK</small></div> 
																<div class="text-center nopad col-3 btn-outline-info"><small>JOME</small></div>
															</div> 
														</li>
														<li class="list-group-item">
															<div class="row">
																<div class="text-center nopad col-3 btn-outline-secondary"><b>PICTURES</b></div>
																<div class="text-center nopad col-3 btn-outline-info"><small>2006-2009</small></div> 
																<div class="text-center nopad col-3 btn-outline-info"><small>2010-2016</small></div> 
																<div class="text-center nopad col-3 btn-outline-info"><small>2017+</small></div>
															</div> 
														</li>
														<li class="list-group-item">
															<div class="row">
																<div class="text-center nopad col-3 btn-outline-secondary"><b>VIDEOS</b></div>
																<div class="text-center nopad col-3 btn-outline-info"><small>2006-2009</small></div> 
																<div class="text-center nopad col-3 btn-outline-info"><small>2010-2016</small></div> 
																<div class="text-center nopad col-3 btn-outline-info"><small>2017+</small></div>
															</div> 
														</li>
												</ul>
												<div class="panel-footer"></div>
										</div>
								</div>
						
						</div>
				</div>
		</div>
		<div id="foodcollapses" class="collapse card" style="width:400px">
						<img class="card-img-top cardpicture picrounded" src="../../../assets/food.jpg" alt="Card image">
				
					<a data-toggle="collapse" href="#collapsafed"><div class="text-white card-img-overlay display-4">FOOD</div></a>
				<div id="collapsafed" class="panel-collapse collapse"><div class="card-body">
						<div class="panel-group">
								<div class="panel panel-default">
										<div class="panel-heading">
												<h4 class="panel-title"></h4>
										</div>
										
												<ul class="btn-outline-danger list-group">
														<li class="list-group-item">
															<div class="row">
																<div class="text-center nopad col-3 btn-outline-secondary"><b>LESSONS</b></div>
																<div class="text-center nopad col-3 btn-outline-info"><small>LADY DEE</small></div> 
																<div class="text-center nopad col-3 btn-outline-info"><small>BERKLEE</small></div> 
																<div class="text-center nopad col-3 btn-outline-info"><small>CHOIR</small></div>
															</div> 
														</li>
														<li class="list-group-item">
															<div class="row">
																<div class="text-center nopad col-3 btn-outline-secondary"><b>AUDIO</b></div>
																<div class="text-center nopad col-3 btn-outline-info"><small>SOUNDCLOUD</small></div> 
																<div class="text-center nopad col-3 btn-outline-info"><small>REVERBNATION</small></div> 
																<div class="text-center nopad col-3 btn-outline-info"><small>ITUNES</small></div>
															</div> 
														</li>
														<li class="list-group-item">
															<div class="row">
																<div class="text-center nopad col-3 btn-outline-secondary"><b>PICTURES</b></div>
																<div class="text-center nopad col-3 btn-outline-info"><small>2006-2009</small></div> 
																<div class="text-center nopad col-3 btn-outline-info"><small>2010-2016</small></div> 
																<div class="text-center nopad col-3 btn-outline-info"><small>2017+</small></div>
															</div> 
														</li>
														<li class="list-group-item">
															<div class="row">
																<div class="text-center nopad col-3 btn-outline-secondary"><b>VIDEOS</b></div>
																<div class="text-center nopad col-3 btn-outline-info"><small>YOUTUBE</small></div> 
																<div class="text-center nopad col-3 btn-outline-info"><small>LIGHTSPEED</small></div> 
																<div class="text-center nopad col-3 btn-outline-info"><small>WORLD</small></div>
															</div> 
														</li>
												</ul>
												<div class="panel-footer"></div>
										</div>
								</div>
						
						</div>
				</div>
		</div>
		<div id="feelingscollapses" class="collapse card" style="width:400px">
						<img class="card-img-top cardpicture picrounded" src="../../../assets/feelings.jpg" alt="Card image">
				
					<a data-toggle="collapse" class="display-4" href="#collapse3"><div class="text-white card-img-overlay display-4">FEELINGS</div></a>
				<div id="collapse3" class="panel-collapse collapse"><div class="card-body">
						<div class="panel-group">
								<div class="panel panel-default">
										<div class="panel-heading">
												<h4 class="panel-title"></h4>
										</div>
										
												<ul class="btn-outline-danger list-group">
														<li class="list-group-item">
															<div class="row">
																<div class="text-center nopad col-3 btn-outline-secondary"><b>TRAINING</b></div>
																<div class="text-center nopad col-3 btn-outline-info"><small>WHEELOCK</small></div> 
																<div class="text-center nopad col-3 btn-outline-info"><small>BALLET</small></div> 
																<div class="text-center nopad col-3 btn-outline-info"><small>HIP-HOP</small></div>
															</div> 
														</li>
														<li class="list-group-item">
															<div class="row">
																<div class="text-center nopad col-3 btn-outline-secondary"><b>EXPERIENCE</b></div>
																<div class="text-center nopad col-3 btn-outline-info"><small>COMPANY 1</small></div> 
																<div class="text-center nopad col-3 btn-outline-info"><small>LINCOLN</small></div> 
																<div class="text-center nopad col-3 btn-outline-info"><small>JOME</small></div>
															</div> 
														</li>
														<li class="list-group-item">
															<div class="row">
																<div class="text-center nopad col-3 btn-outline-secondary"><b>PICTURES</b></div>
																<div class="text-center nopad col-3 btn-outline-info"><small>2006-2009</small></div> 
																<div class="text-center nopad col-3 btn-outline-info"><small>2010-2016</small></div> 
																<div class="text-center nopad col-3 btn-outline-info"><small>2017+</small></div>
															</div> 
														</li>
														<li class="list-group-item">
															<div class="row">
																<div class="text-center nopad col-3 btn-outline-secondary"><b>VIDEOS</b></div>
																<div class="text-center nopad col-3 btn-outline-info"><small>2006-2009</small></div> 
																<div class="text-center nopad col-3 btn-outline-info"><small>2010-2016</small></div> 
																<div class="text-center nopad col-3 btn-outline-info"><small>2017+</small></div>
															</div> 
														</li>
												</ul>
												<div class="panel-footer"></div>
										</div>
								</div>
						
						</div>
				</div>
		</div></div>

