<!-- header -->
<div class="row margin">
	<!-- col 2 -->
	<div class="text-center btn-danger col-md-2 arts columnpic">
		<div align="center" class="padtop oleoscript displayfour"><a class="text-white" data-toggle="collapse" href="#greeting">J. Inspired</a></div>
	</div>
	<!-- col 9 -->
	<div class="nopad row btn-light col-md-9 justify-content-center arts text-danger columnpic">	
		<div class="col-md-4 row">
			<div data-toggle="collapse" data-target="#arts" class="oleoScript col-3 nopad btn-outline-danger">ART</div>	    
			<span id="arts" class="row collapse">
				<div class="text-center nopad col-3 btn-outline-info headpad"><small><a data-toggle="collapse" href="#dancecollapses">DANCE</a></small></div>
				<div class="text-center nopad col-3 btn-outline-info headpad"><small><a data-toggle="collapse" href="#musiccollapses">MUSIC</a></small></div>
				<div class="text-center nopad col-3 btn-outline-info headpad"><small><a data-toggle="collapse" href="#theatercollapses">THEATER</a></small></div>
			</span>
		</div>

		<div class=" align-content-center col-md-4 row">
			<div data-toggle="collapse" data-target="#inspirations" class="oleoScript col-3 nopad btn-outline-danger">INSPIRES</div>	    
			<span id="inspirations" class="row collapse">
				<div class="text-center nopad col-3 btn-outline-warning headpad"><small><a data-toggle="collapse" href="#vlogcollapses">VLOG</a></small></div> 
				<div class="text-center nopad col-3 btn-outline-warning headpad"><small><a data-toggle="collapse" href="#quotescollapses">QUOTES</a></small></div> 
				<div class="text-center nopad col-3 btn-outline-warning headpad"><small><a data-toggle="collapse" href="#funcollapses">FUN</a></small></div> 
			</span>
		</div>
		<div class="col-md-4 row">
			<div data-toggle="collapse" data-target="#lyfe" class="oleoScript col-3 nopad btn-outline-danger" >LYFE</div>	    
			<div id="lyfe" class="row collapse">
				<div class="text-center nopad col-3 btn-outline-success headpad"><small><a data-toggle="collapse" href="#fitnesscollapses">FITNESS</a></small></div> 
				<div class="text-center nopad col-3 btn-outline-success headpad"><small><a data-toggle="collapse" href="#foodcollapses">FOOD</a></small></div> 
				<div class="text-center nopad col-3 btn-outline-success headpad"><small><a data-toggle="collapse" href="#feelingscollapses">FEELINGS</a></small></div> 
			</div>
		</div>
	</div>


<div class="nopad btn-danger col-md-1 arts">
	<div align="center" class="nopad display-4 displayfour">
		<i class="nopad text-size fas fa-list-ul"></i>
	</div>
</div>

<div class="container-fluid">

<div id="greeting" class="collapse show card btn-danger">
		<div class="card-body">
		<div class="btn container-fluid btn-danger">
			<br><br><br><br><br><h4><strong><div class="display-4">"HI FRIENDS!"</div></strong><br>
			For short, my name is "J" and I am an aspiring performing artist. <br>
			I put this page up to chase my dreams,<br>
			and share my journey with you.<br>
			Stop by for updates and fun things happening.<br>
			Click "J. Inspired" at the top left to toggle this greeting.<br><br>
			<div class="display-4">~ Enjoy!"</div></h4><br><br><br>
		</div>
	</div>
</div>
<app-arts></app-arts>
<br>
<br>
<app-inspirations></app-inspirations>
<br>
<br>
<!-- <app-vlog></app-vlog> -->

<app-health></app-health></div>
